#header {
    background: #1abc9c;
    box-shadow: 4em;
    
}
body {
    margin-top: 75px;
}

#contrib-panel {
    height: 120px;
}

h2 {
    color: white;
}

.immigrationText {
    font-size: 16px;
}

.evacuationsText {
    font-size: 16px;
}

.donationsText {
    font-size: 16px;
}